
/*bottoni*/
.dialog-pane .button {
    -fx-border-radius: 10;
    -fx-background-color: white;
    -fx-alignment: center;
    -fx-text-fill: #1676B7; 
    -fx-border-color: #707070;
    -fx-border-width: 1;
    -fx-background-radius: 10;
}

/*tutto il dialog pane*/
/* accedere ai bordi */
.dialog-pane {
    -fx-border-width: 1;
    -fx-border-color: #5EACE2;
}

/* vicino all'icona */
.dialog-pane > .content.label {
  -fx-background-color: white;
  -fx-text-fill:black;
  -fx-font-size:13.0px;
  -fx-alignment: center;
  -fx-font-family: Segoe UI;
}

 
/* background del container dei bottoni */
.dialog-pane > .button-bar > .container {
  -fx-background-color:white;
}

.dialog-pane > .header-panel .label {
    -fx-font-weight: bold;
}

/* contenitore di label */
.dialog-pane:header .header-panel {
  -fx-background-color: #E4E4E4;
}


.dialog-pane .button:hover{     
  -fx-background-color: #1676B7;
  -fx-text-fill: white;
 }