.jfx-list-cell {
    -fx-padding: 12px;
    -fx-background-color: -fx-background ;
    -fx-border-color: #DCDCDC;
    -fx-border-width: 1;
    -fx-selection-bar:-fx-control-inner-background;
    -fx-selection-bar-non-focused: -fx-control-inner-background ;

}

.jfx-list-view {
    -fx-control-inner-background-alt: -fx-control-inner-background ;
    -fx-background-insets: 10.0;
    -fx-cell-vertical-margin: 10.0;
    -fx-vertical-gap: 10;
    -fx-background-color: -fx-control-inner-background;

}

.list-view .list-cell:even {
    -fx-background-color: transparent;
    -fx-text-fill: black;
}
.list-view .list-cell:odd {
    -fx-background-color: transparent;
    -fx-text-fill: black;
}

.list-view .scroll-bar:vertical {
    -fx-scale-x: 1;
}

.informazioni .scroll-bar:vertical {
    -fx-scale-x: 0;
}
